<div class="show-appointment-list">
  <button>Back to register an appointment</button>
  <hr />
  <div class="appointment-time-table">
    <h4>Time table of employees</h4>
    <table>
      <tr>
        <th>No.</th>
        <th>Day in week</th>
        <th>Duration</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="appointment-patient-list">
    <h4>List of registered patients</h4>
    Find by a duration
    <div class="">
      From <input type="date" class="appointment-input-class-date" /> To
      <input type="date" class="appointment-input-class-date" />
    </div>
    <button class="appointment-button-find-by-duration">Find</button>
    <table>
      <tr>
        <th>No.</th>
        <th>Full name</th>
        <th>Age</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Appointment date</th>
        <th>Department</th>
        <th>Employee</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
